<!-- start custom head snippets -->
<!-- <header>
  <a href="{{ "/" | relative_url }}">
    <img src="{{ "/assets/images/IMG_0125.jpg" | relative_url }}" alt="hdr" width="450" height=auto display=block margin-left=auto margin-right=auto>
  </a>
</header> -->

<header style="display: flex; justify-content: center; align-items: center;">
    <!-- <img src="{{ "/assets/images/IMG_0125.jpg" | relative_url }}" alt="hdr" width="450" height=auto> -->
  <a href="{{ "/" | relative_url }}">
    <img src="{{ "/assets/images/IMG_0125_crop.jpg" | relative_url }}" alt="hdr" width="450">
  </a>
</header>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
